.footer-social-link {
  color: var(--secondary-white-color);
  background-color: var(--primary-text-color);
}

.footer-social-link:hover,
:focus {
  background-color: var(--accent-color);
}
.active-social-link-footer:not(:last-child) {
  margin-right: 10px;
}
.social-link-container {
  padding-top: 72px;
}
.address {
  display: inline-block;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 0px;
}
.address-item {
  flex-direction: column;
  justify-content: space-around;
  margin-right: 69px;
  margin-top: 66px;
  margin-bottom: 54px;
  width: 231px;
}

.background-footer {
  background-color: #2f303a;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.address-block {
  margin-top: 20px;
  align-content: space-between;
}
.contacts-footer-conteiner {
  padding-left: 0px;
  margin-bottom: 0px;
}

.social-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 206px;
  height: 44px;
}
.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link-list svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.contacts-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-footer:hover,
.contacts-footer:focus {
  background-color: var(--footer-background-color);
  color: var(--accent-color);
}
.social-link-container {
  margin-top: 78px;
  margin-bottom: 94px;
  padding-top: 0px;
}
.join-in {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
