.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.backdrop-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale;
  transform: scale(0.9) translate(-50%; -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden.modal {
  transform: scale(1) translate(-50%; -50%);
}
.modal-form {
  display: flex;
  flex-direction: column;
  height: 581px;
  width: 528px;
  box-sizing: border-box;
}
.modal-titel {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-top: 40px;
  margin-bottom: 0px;
}
.modal-form-data {
  width: 448px;
  height: 324px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 12px;
}
.modal-form-input {
  width: 448px;
  padding-left: 42px;
  height: 40px;
  margin-top: 4px;
  color: var(--primary-title-color);
}
.modal-form-input:focus {
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border-color: var(--accent-color);
  background-color: var(--primary-white-color);
}
.modal-form-input:focus + .modal-form-svg-icon {
  fill: var(--accent-color);
}
.comment-input {
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  margin-left: 0px;
}
.modal-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}
.link-modal-policy {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.modal-form-svg-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}
.modal-form-field {
  margin-bottom: 4px;
}
.modal-form-policy {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin-top: 0px;
  margin-left: 0px;
}
.modal-label::before {
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid var(--primary-title-color);
  display: inline-block;
  margin-right: 8px;
}
.bnt-close-modal {
  background: url("../images/close-black-18dp.svg") 50% 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  display: block;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.bnt-close-modal:hover {
  color: var(--accent-color);
}
.modal-form-policy:checked + .modal-label::before {
  background-image: url("../images/icon-check.svg");
  background-color: var(--accent-color);
  width: 16px;
  height: 15px;
}
.form-field {
  position: relative;
  margin-bottom: 10px;
}
.modal-form-input:focus + .modal-form-field,
.modal-form-input:not(:placeholder-shown) + .modal-form-field {
  transform: translateY(-50px);
}
.btn-submit {
  margin-left: 164px;
  margin-left: 124px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.subscribe-modal-form {
  margin-left: 94px;
  display: flex;
  flex-wrap: wrap;
  width: 570px;
}
.email-subscribe {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 295px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
